<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
 <div><%= form.collection_select(:product_id, Product.all, :id, :p_name) %></div>
 <%= form.hidden_field :shoppinglist_id, :value => @shoppinglist_id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
